
body {

	display: grid;
	justify-content: center;
	justify-items: center;
	font-family: arial;

	background: linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        /* bottom, image */
        url(starrysky2.jpg);
/*	background: url(starrysky2.jpg).;*/
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}

.container {
	padding-left: 6em;
	padding-right: 6em;
	margin-bottom: 6em;


}


li {
	font-size: 20px;
}

h1 {
	display: grid;
	justify-content: center;

}

h2 {
	margin-bottom: 0px;
}

b {
	color: #00bfff;
}


.block {

	display: grid;
	margin-bottom: 0px;
/*	justify-content: start;*/
/*	justify-items: center;*/

}

.blockborder {
	border: 5px solid silver;
}

.titlecompany {
	justify-content: center;
	text-align: center;
}

.central {
	justify-content: center;
	text-align: left;

}


.date {
	justify-content: center;
	text-align: center;
	margin-top: 0.1em;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.location {

}