
body {

	display: grid;
	justify-content: center;
	justify-items: center;
	font-family: arial;

}


li {
	font-size: 18px;
}

h1 {
	display: grid;
	justify-content: center;

}

h2 {
	margin-bottom: 0px;
}


.block {

	display: grid;
	justify-content: start;
/*	justify-items: center;*/

}

.titlecompany {

}


.date {

}

.location {

}